#header h1
{
    text-align: center;
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menu{
    display: flex;
    line-height: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: green;

}

a{
    text-decoration: none;
}

.swiper img{
    width: 100%;
}

#menu a{
    margin: 20px;
    color: inherit;
}

#content{
    margin: auto;
    width: 80%;
}

#profile p{

    font-size: 30px;
}

h2{
    text-align: center;
    text-decoration: underline;
}

table{
    margin: auto;
    width: 100%;
    max-width: 800px;
}

td,th{
    font-size: 20px;
    text-align: center;
}

.works-img{
    display: flex;
}

.works-img img{
    max-width: 30%;
    margin: 10px;
}

#footer{
    font-weight: bold;
}

.tel{
    display: none;
}

@media screen and (max-width : 600px) {
    .tel{
        display: block;
    }
    
}

#modal{
    display:none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content{
    background-color:  white;
    margin: 20% auto;
    padding: 50px;
    width: 50%;
}

